
<div class="grid-container">
  <div class="Nav">
    <div class="lt">
      <img src="../assets/img/tweetlogo.png" alt="Girl in a jacket" width="30" height="30">
      <h1>Multicollab</h1>
    </div>
    <div>
      <a routerLink="/about" routerLinkActivate="activate">Home</a>
      <a routerLink="/assistenza" routerLinkActivate="activate">Assistenza</a>
      <a href="#">Profilo</a>
    </div>
  </div>
  <div class="Intro">
      <router-outlet></router-outlet>
  </div>
  <div class="Content">
    <div class="Inf-section">
        <h1>@Influencer</h1>

        <a routerLink="/category" routerLinkActivate="activate">category</a>
    </div>
    <div class="Az-section">
      <h1>Brand</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, rem!</p>
    </div>
  </div>
  <div class="Footer">
    <p>&copy; 2020 Maradev.com<p>
  </div>

</div>
