
<div class="grid-container">
  <div class="Nav">
    <div class="lt">
      <img src="../assets/img/tweetlogo.png" alt="Girl in a jacket" width="30" height="30">
      <h1>MULTICOLLAB</h1>
    </div>
    <div>
      <a routerLink="/about" routerLinkActivate="activate">About</a>
      <a routerLink="/assistenza" routerLinkActivate="activate">Assistenza</a>
      <a href="#">Profilo</a>
    </div>
  </div>
  <div class="Content">
      <router-outlet></router-outlet>
  </div>
  <div class="Intro">
    <div class="Inf-section">
        <h1>@Influencer</h1>
        <a routerLink="/category" routerLinkActivate="activate">#Category</a>
        <a href="#">#Search</a>
         <p>Influencers in social media are people who have built a reputation for their knowledge and expertise on a specific topic. They make regular posts about that topic on their preferred social media channels and generate large followings of enthusiastic,
           engaged people who pay close attention to their views.</p>
    </div>
    <div class="Az-section">
      <h1>Brand</h1>
    </div>
  </div>


  <div class="Footer">
    <p>&copy; 2020 Maradev.com<p>
  </div>

</div>
