<nav class="navbar navbar-expand-sm bg-primary">
<a class="navbar-brand" href="#">
     <img src="../assets/img/tweetlogo.png" alt="logo" style="width:40px;">
    </a>
    MultiCollab
</nav>


<div class="container">
  <div class="row m-2">
  <div class="col-md-4 bg-info">
       <h1>Sport</h1>
  </div>
  <div class="col-md-4 bg-info">
       <h1>Art</h1>
  </div>
  <div class="col-md-4 bg-info ">
       <h1>Fashion</h1>
  </div>
</div>

<div class="row m-2">
  <div class="col-md-4 bg-info">
       <h1>Tech</h1>
  </div>
  <div class="col-md-4 bg-info">
       <h1>Food</h1>
  </div>
  <div class="col-md-4 bg-info">
       <h1>Music</h1>
  </div>
  </div>
</div>

