<div class="grid-container">
  <div class="Sport">
    <h1>Sport🎳</h1>
    <p>#Football #Basketball #Golf #Racing #Soccer #Tennis </p>
    <a href="#" class="fill-div"></a>
  </div>
  <div class="Art">
    <h1>Art🌈</h1>
    <p>#Design  #Architecture  #Illustrator  #Drawing  #Draw #Colors </p>
  </div>
  <div class="Music">
    <h1>Music🎵</h1>
    <p>#Song  #Music  #Tone  #Guitar  #Piano </p>
  </div>

  <div class="Tech">
    <h1>Tech🤖</h1>
    <p>#Football #Hardware  #Computer  #MasterRace  #Gaming</p>
  </div>
  <div class="Food">
    <h1>Food🍕</h1>
    <p>#Cooking  #Chef  #Golf #Vegan  #Food  #Recipes #Beers </p>
  </div>
  <div class="Fashion">
    <h1>Fashion👠</h1>
    <p>#Fashion  #Luxury  #Styling  #Shoes  #Beauty  #Accessories #Jewelry </p>
  </div>
</div>







