
 <h1>#Welcome!</h1>
    <p>Multicolla is a web-app that wants to help companies/brands find <a href="">#influencers</a> to collaborate with.
The site contains a database of influencers, collected through twitter API, divided by categories (sport, art, music, tech, food, fashion). For each category we have a list of influencers, where you can view some information, such as the name, the number of followers, the location, a short bio of the influencer and the link to access their website.
    </p>
<img src="../assets/img/img2.png" alt="">
