
    <div *ngIf="results">
      <div *ngFor="let r of results">
          <div class="mother-div">
            <div class="card">
              <header class="w3-container w3-light-grey">
                <h3>{{r.Screen_Name}}</h3>
              </header>
              <div class="card-cont">
                <p>Followers: {{r.Number_of_Followers}}</p>
                <hr>
                <img src="{{r.Profile_image}}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                <p>CEO at Mighty Schools. Marketing and Advertising. Seeking a new job and new opportunities.</p><br>
              </div>
                  <a [routerLink] = "['/profile',r.Screen_Name]">#SeeProfile</a>
            </div>

          </div>
      </div>
    </div>
