.card{
  border-style: solid;
  padding: 20px;
  margin: 10px;
  width: 60%;
}
.mother-div{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.mother-div h3{
  font-size: 25px;
}
.mother-div p{
  font-size: 15px;
}
.Profileb{
  width: 30%;
  background-color: #008CBA;
  color: aliceblue;
  font-size: 15px;
}
