
    <div *ngIf="results">
      <div *ngFor="let r of results">

          <div class="card">
              <header class="w3-container w3-light-grey">
                <h3>{{r.Screen_Name}}</h3>
              </header>
              <div class="card-cont">
                <p>Followers: {{r.Number_of_Followers}}</p>
                <hr>
                <img src="https://www.pikpng.com/pngl/m/80-805068_my-profile-icon-blank-profile-picture-circle-clipart.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
                <p>CEO at Mighty Schools. Marketing and Advertising. Seeking a new job and new opportunities.</p><br>
              </div>
              <button class="w3-button w3-block w3-dark-grey">See Profile</button>
            </div>

      </div>
    </div>
